** INFORMACION DEL PARTIDO UNIR **

First Name: {{ first_name }}.
Last Name: {{ last_name }}.
City: {{ city }}.
id: {{ id_jugador1 }}.

First Name: {{ jugador2.first_name }}.
Last Name: {{ jugador2.last_name }}.
City: {{ jugador2.address.city }}.
id: {{ jugador2.id }}.

Fecha: {{ ansible_date_time.iso8601 }}